@use '@angular/material' as mat;
@use '@angular/material/core/theming/palettes' as palettes;

@include mat.core();

$light-theme: mat.define-theme((color: (theme-type: light,
                primary: palettes.$violet-palette,
                tertiary: palettes.$rose-palette,
            ),
        ));

$dark-theme: mat.define-theme((color: (theme-type: dark,
                primary: palettes.$violet-palette,
                tertiary: palettes.$rose-palette,
            ),
        ));

html {
    @include mat.all-component-themes($light-theme);
}

html.dark {
    @include mat.all-component-colors($dark-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

@layer base {
    body {
        @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50;
    }
}